<!DOCTYPE html>
<html>
  <head>
    <title>Image Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">


  </head>
  <body>
    <!-- <h1>Image Analysis</h1>
    <form  action="/analyze" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*" required />
      <br />
      <input type="submit" value="Analyze Image" />
    </form>

    <h1>Celebrity Analysis</h1>
    <form action="/celebs" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*" required />
      <br />
      <input type="submit" value="Analyze Image" />
    </form> -->

    
    <h1>Dynamic Content with EJS</h1>
<% for (let i = 0; i < dynamicData.length; i++) { %>
  <h1 class="m-2 p-1"><%= dynamicData[i] %> Analysis</h1>
  <form  class="container bg-primary m-2 p-1" action="/<%= dynamicData[i] %>" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required />
    <br />
    <input type="submit" value="Analyze Image" />
  </form>
<% } %>
     
    
  </body>
</html>
